.footer__form{
    width: 50%;
    height: inherit;
}
.footer__form{
    padding: 130px 40px 193px 0;
}

.form-online-appointment{
    position: relative;
    display: block;
}
.form-field__item{
    margin-bottom: 44px;
    margin-right: 30px;
    display: inline-flex;
}
.form-field__label{
    position: absolute;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #9DA4BD99;
}
.form-field__input{
    width: 270px;
    height: 24px;
    padding-left: 80px;

    background: #191C26;
    border: none;
    border-bottom: 1px solid #9DA4BD99;
    font-size: 24px;
    color: white;
    outline:none;
    &:focus .form-field__label{
        color: #FFFFFF;
        border-color: #FFFFFF;
    }

}
.form-field--label{
    display: block;

}
.footer__btn{
    @extend %button;
    display: block;
    background-color: #191C26;
}
