.footer__contacts{
    // width: 50%;
    // height: inherit;
    // font-weight: normal;
    // font-size: 18px;
    // line-height: 30px;
    // color: #9DA4BD;
    // background-image: url(/images/Footer/bg.png);
    // background-repeat: no-repeat;
    // background-position: right top;
    // padding: 130px 105px 130px 100px;

    @media screen and (max-width: 768px) {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #9DA4BD;
    background-image: url(../images/Footer/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 84px 31px;
    }
}

.contacts__box{
    position: relative;
    padding-left: 40px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: #9DA4BD;
}
.contacts__address{
    display: block;
    margin-bottom: 20px;
}

.contacts__link{
    display: block;
    color: #9DA4BD;
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 70px;
    }
}
.contacts__icon{
    position: absolute;
    left: -0px;
    align-items: center;
    width: 24px;
    height: 24px;
}
