.footer__section{
    width: 100%;
    min-height: 640px;
    height: auto;
    background-color: #191C26;
    padding: 0 50px;
    display: flex;

    background-size: 50% 100%;
    color: #9DA4BD;
}
.footer__title{   
    margin-bottom: 40px;

    font-family: Raleway;
    font-weight: 900;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}


