.header{
    width: 100%;
    display: block;
    padding: 276px 0 206px;
    background-image: url(../images/Slider/Slider_img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 768px) {
      background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider/Slider_img-1.jpg);
      background-position: 60%;
      background-attachment:local;
      }
}
